In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import math
import numpy as np
from sklearn.datasets import make_classification
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
from tqdm import tqdm
#import alphashape
import random
random.seed(10)

In [3]:
# Function to perform Normalization of the columns of the dataframes
def absolute_maximum_scale(series):
    return series / series.abs().max()

### West -1

In [4]:
#ceiling_data -west1

df_west_1_ceiling =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_1/Sampled_Normals/west1_normal_ceiling_1.csv')
df_west_1_ceiling.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_1_ceiling_smp = df_west_1_ceiling[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_1_ceiling_smp.columns:
    df_west_1_ceiling_smp[col] = absolute_maximum_scale(df_west_1_ceiling_smp[col])

df_west_1_ceiling_smp['label'] = 'ceiling'

print(df_west_1_ceiling.shape)

df_west_1_ceiling_smp.head(2)

(5000, 13)

             X         Y         Z       N_X       N_Y       N_Z    label
2381  0.999987  0.999960  0.999607  0.031471 -0.034334 -1.000000  ceiling
4939  0.999985  0.999981  0.999627 -0.003393  0.026428 -0.999497  ceiling

In [5]:
#floor_data - west2

df_west_1_floor =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_1/Sampled_Normals/west1_normal_floor_1.csv')
df_west_1_floor.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_1_floor_smp = df_west_1_floor[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_1_floor_smp.columns:
    df_west_1_floor_smp[col] = absolute_maximum_scale(df_west_1_floor_smp[col])

df_west_1_floor_smp['label'] = 'floor'

print(df_west_1_floor_smp.shape)

df_west_1_floor_smp.head(2)

(2000, 7)

             X         Y         Z       N_X       N_Y       N_Z  label
630   0.999994  0.999981  0.998959 -0.052808  0.029804  0.999965  floor
1713  0.999995  0.999969  0.998845  0.024622 -0.018160  0.999973  floor

In [6]:
# WEST 1 FULL DATASET

final_df_west_1 = pd.concat([df_west_1_ceiling_smp, df_west_1_floor_smp], axis=0)
final_df_west_1.head(3)

             X         Y         Z       N_X       N_Y       N_Z    label
2381  0.999987  0.999960  0.999607  0.031471 -0.034334 -1.000000  ceiling
4939  0.999985  0.999981  0.999627 -0.003393  0.026428 -0.999497  ceiling
2352  0.999984  0.999968  0.999607 -0.007811 -0.003400 -0.999858  ceiling

### West -2

In [7]:
#ceiling_data -west2

df_west_2_ceiling =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_2/Sampled_Normals/west2_ceiling_normal_sampled.csv')
df_west_2_ceiling.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_2_ceiling_smp = df_west_2_ceiling[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_2_ceiling_smp.columns:
    df_west_2_ceiling_smp[col] = absolute_maximum_scale(df_west_2_ceiling_smp[col])

df_west_2_ceiling_smp['label'] = 'ceiling'
print(df_west_2_ceiling_smp.shape)

df_west_2_ceiling_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z    label
18399   0.999980  0.999956  0.999661  0.107104 -0.030122  0.994325  ceiling
547755  0.999979  0.999940  0.999648 -0.058918  0.131620  0.989970  ceiling

In [8]:
#floor_data - west2

df_west_2_floor =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_2/Sampled_Normals/west2_floor_normals_sampled.csv')
df_west_2_floor.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_2_floor_smp = df_west_2_floor[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_2_floor_smp.columns:
    df_west_2_floor_smp[col] = absolute_maximum_scale(df_west_2_floor_smp[col])

df_west_2_floor_smp['label'] = 'floor'
print(df_west_2_floor_smp.shape)

df_west_2_floor_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z  label
319852  0.999997  0.999954  0.996805  0.120311  0.209703  0.978191  floor
245085  0.999987  0.999981  0.998877  0.008269  0.024415  0.999755  floor

In [9]:
#Stairs_data - west2

df_west_2_stairs=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_2/Sampled_Normals/west2_stairs_normals_sampled.csv')
df_west_2_stairs.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_2_stairs_smp = df_west_2_stairs[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_2_stairs_smp.columns:
    df_west_2_stairs_smp[col] = absolute_maximum_scale(df_west_2_stairs_smp[col])

df_west_2_stairs_smp['label'] = 'stairs'
print(df_west_2_stairs_smp.shape)

df_west_2_stairs_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z   label
71925   0.999978  0.999929  0.978928 -0.295781 -0.949423 -0.112483  stairs
359925  0.999978  0.999929  0.969436  0.604981 -0.763159  0.232392  stairs

In [10]:
#Wall_data - west2

df_west_2_wall=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_2/Sampled_Normals/west2_wall_normals_sampled.csv')
df_west_2_wall.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_2_wall_smp = df_west_2_wall[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_2_wall_smp.columns:
    df_west_2_wall_smp[col] = absolute_maximum_scale(df_west_2_wall_smp[col])

df_west_2_wall_smp['label'] = 'wall'
print(df_west_2_wall_smp.shape)


df_west_2_wall_smp.head(2)

(2000, 7)

              X         Y         Z       N_X       N_Y       N_Z label
37697  0.999988  0.999975  0.983391 -0.618931  0.793426  0.067722  wall
68137  0.999984  0.999968  0.987254 -0.516318  0.862665 -0.054584  wall

In [11]:
# WEST 2 FULL DATASET

final_df_west_2 = pd.concat([df_west_2_ceiling_smp, df_west_2_floor_smp, df_west_2_stairs_smp, df_west_2_wall_smp], axis=0)
print(final_df_west_2.shape)
final_df_west_2.head(3)

(8000, 7)

               X         Y         Z       N_X       N_Y       N_Z    label
18399   0.999980  0.999956  0.999661  0.107104 -0.030122  0.994325  ceiling
547755  0.999979  0.999940  0.999648 -0.058918  0.131620  0.989970  ceiling
270014  0.999987  0.999958  0.999599 -0.072672 -0.105019  0.992219  ceiling

### West-3

In [12]:
#ceiling_data -west3

df_west_3_ceiling =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_3/Sampled_Normals/west3_ceiling_normals_sampled.csv')
df_west_3_ceiling.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_3_ceiling_smp = df_west_3_ceiling[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_3_ceiling_smp.columns:
    df_west_3_ceiling_smp[col] = absolute_maximum_scale(df_west_3_ceiling_smp[col])

df_west_3_ceiling_smp['label'] = 'ceiling'
print(df_west_3_ceiling_smp.shape)


df_west_3_ceiling_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z    label
8641    0.999905  0.999800  0.987700  0.142183 -0.054481  0.988349  ceiling
174138  0.999942  0.999935  0.964769 -0.008955  0.008980  0.999921  ceiling

In [13]:
#floor_data - west3

df_west_3_floor =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_3/Sampled_Normals/west3_floor_normals_sampled.csv')
df_west_3_floor.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_3_floor_smp = df_west_3_floor[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_3_floor_smp.columns:
    df_west_3_floor_smp[col] = absolute_maximum_scale(df_west_3_floor_smp[col])

df_west_3_floor_smp['label'] = 'floor'
print(df_west_3_floor_smp.shape)

df_west_3_floor_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z  label
26656   0.999957  0.999909  0.930428  0.000981  0.000978  1.000000  floor
187061  0.999956  0.999890  0.930428  0.073798  0.056013  0.995719  floor

In [14]:
#Wall_data - west3

df_west_3_wall=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_3/Sampled_Normals/west3_wall_normals_sampled.csv')
df_west_3_wall.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_3_wall_smp = df_west_3_wall[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_3_wall_smp.columns:
    df_west_3_wall_smp[col] = absolute_maximum_scale(df_west_3_wall_smp[col])

df_west_3_wall_smp['label'] = 'wall'
print(df_west_3_wall_smp.shape)


df_west_3_wall_smp.head(2)

(2000, 7)

               X         Y         Z       N_X       N_Y       N_Z label
610706  0.999993  0.999984  0.921443 -0.786047  0.606549  0.129021  wall
124811  0.999931  0.999865  0.851303  0.837874  0.547878  0.023343  wall

In [15]:
# WEST 3 FULL DATASET

final_df_west_3 = pd.concat([df_west_3_ceiling_smp, df_west_3_floor_smp, df_west_3_wall_smp], axis=0)
print(final_df_west_3.shape)
final_df_west_3.head(3)

(6000, 7)

               X         Y         Z       N_X       N_Y       N_Z    label
8641    0.999905  0.999800  0.987700  0.142183 -0.054481  0.988349  ceiling
174138  0.999942  0.999935  0.964769 -0.008955  0.008980  0.999921  ceiling
207059  0.999911  0.999797  0.987612 -0.015650  0.053358  0.998462  ceiling

### WEST -5

In [16]:
#ceiling_data -west5

df_west_5_ceiling =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_5/Sampled_Normals/west_5_ceiling_normals_sampled.csv')
df_west_5_ceiling.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_5_ceiling_smp = df_west_3_ceiling[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_5_ceiling_smp.columns:
    df_west_5_ceiling_smp[col] = absolute_maximum_scale(df_west_5_ceiling_smp[col])

df_west_5_ceiling_smp['label'] = 'ceiling'


df_west_5_ceiling_smp.head(2)

               X         Y         Z       N_X       N_Y       N_Z    label
561981  0.999889  0.999796  0.988404 -0.604695 -0.046852  0.795895  ceiling
33117   0.999933  0.999893  0.984802 -0.031638  0.011255  0.999439  ceiling

In [17]:
#floor_data - west5

df_west_5_floor =  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_5/Sampled_Normals/west_5_floor_normals_sampled.csv')
df_west_5_floor.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_5_floor_smp = df_west_5_floor[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_5_floor_smp.columns:
    df_west_5_floor_smp[col] = absolute_maximum_scale(df_west_5_floor_smp[col])

df_west_5_floor_smp['label'] = 'floor'


df_west_5_floor_smp.head(2)

               X         Y         Z       N_X       N_Y       N_Z  label
744089  0.999963  0.999903  0.969874 -0.010575  0.165656  0.987622  floor
965921  0.999958  0.999897  0.969936 -0.029402 -0.043074  0.998775  floor

In [18]:
#Stairs_data - west5

df_west_5_stairs_1=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_5/Sampled_Normals/west_5_stairs1_normals_sampled.csv')
df_west_5_stairs_1.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_5_stairs_smp_1 = df_west_5_stairs_1[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y'])

for col in df_west_5_stairs_smp_1.columns:
    df_west_5_stairs_smp_1[col] = absolute_maximum_scale(df_west_5_stairs_smp_1[col])

df_west_5_stairs_smp_1['label'] = 'stairs'


df_west_5_stairs_2=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_5/Sampled_Normals/west_5_stairs2_normals_sampled.csv')
df_west_5_stairs_2.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_5_stairs_smp_2 = df_west_5_stairs_2[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y'])

for col in df_west_5_stairs_smp_2.columns:
    df_west_5_stairs_smp_2[col] = absolute_maximum_scale(df_west_5_stairs_smp_2[col])

df_west_5_stairs_smp = pd.concat([df_west_5_stairs_smp_1, df_west_5_stairs_smp_2], axis=0).sample(n = 2000)

df_west_5_stairs_smp.head(2)

               X         Y         Z       N_X       N_Y       N_Z   label
50153   0.999984  0.999952  0.941447  0.885404  0.464670  0.011983     NaN
416848  0.999989  0.999952  0.848416  0.436821 -0.899024  0.030724  stairs

In [19]:
#Wall_data - west5

df_west_5_wall=  pd.read_csv('/Users/qwert/Documents/TASKAR/data/sampled_normal_data/west_5/Sampled_Normals/west_5_wall_normals_sampled.csv')
df_west_5_wall.rename(columns = {'//X':'X', 'Nz':'N_Z','Nx':'N_X', 'Ny':'N_Y'}, inplace = True)
df_west_5_wall_smp = df_west_5_wall[['X','Y','Z','N_X','N_Y','N_Z']].dropna(subset=['Y']).sample(n = 2000)

for col in df_west_5_wall_smp.columns:
    df_west_5_wall_smp[col] = absolute_maximum_scale(df_west_5_wall_smp[col])

df_west_5_wall_smp['label'] = 'wall'


df_west_5_wall_smp.head(2)

               X         Y         Z       N_X       N_Y       N_Z label
974887  0.999974  0.999918  0.640816 -0.521576  0.851975 -0.071954  wall
185338  0.999922  0.999762  0.736915 -0.830223 -0.560132  0.020614  wall

In [20]:
# WEST 5 FULL DATASET

final_df_west_5 = pd.concat([df_west_5_ceiling_smp, df_west_5_floor_smp, df_west_5_stairs_smp, df_west_5_wall_smp ], axis=0)
final_df_west_5.head(3)

               X         Y         Z       N_X       N_Y       N_Z    label
561981  0.999889  0.999796  0.988404 -0.604695 -0.046852  0.795895  ceiling
33117   0.999933  0.999893  0.984802 -0.031638  0.011255  0.999439  ceiling
128241  0.999916  0.999901  0.971888 -0.386655  0.874882  0.303595  ceiling

In [21]:
final_df_west_5['cat_label'] = final_df_west_5['label'].map({'ceiling':0,'floor':1,'stairs':2,'wall':3})
final_df_west_5 = final_df_west_5.dropna(how='any',axis=0) 
final_df_west_5['cat_label'] = final_df_west_5['cat_label'].astype(int)

final_df_west_5.head(3)

,X,Y,Z,N_X,N_Y,N_Z,label,cat_label
561981,0.999889,0.999796,0.988404,-0.604695,-0.046852,0.795895,ceiling,0
33117,0.999933,0.999893,0.984802,-0.031638,0.011255,0.999439,ceiling,0
128241,0.999916,0.999901,0.971888,-0.386655,0.874882,0.303595,ceiling,0

In [22]:
final_df = pd.concat([final_df_west_1, final_df_west_2, final_df_west_3 ], axis=0).dropna(subset=['Y'])
final_df['cat_label'] = final_df['label'].map({'ceiling':0,'floor':1,'stairs':2,'wall':3})
final_df = final_df.dropna(how='any',axis=0) 
final_df['cat_label'] = final_df['cat_label'].astype(int)

print(final_df.shape)

final_df.head(5)

(18000, 8)

,X,Y,Z,N_X,N_Y,N_Z,label,cat_label
2381,0.999987,0.999960,0.999607,0.031471,-0.034334,-1.000000,ceiling,0
4939,0.999985,0.999981,0.999627,-0.003393,0.026428,-0.999497,ceiling,0
2352,0.999984,0.999968,0.999607,-0.007811,-0.003400,-0.999858,ceiling,0
1824,0.999985,0.999960,0.999532,0.003347,-0.010201,-0.999957,ceiling,0
4035,0.999984,0.999942,0.999329,0.001106,0.001123,-0.999832,ceiling,0

In [23]:
X = np.array(final_df[['X','Y','Z','N_X','N_Y','N_Z']]) # input features
y = final_df[['cat_label']].values.ravel()  # output 

X.shape, y.shape

((18000, 6), (18000,))

In [24]:
final_df.isnull().values.any()

False

In [26]:
X_test.shape, y_test.shape

((5400, 6), (5400,))

In [27]:
clf_rbf = svm.SVC(kernel='rbf', C=1).fit(X_train, y_train)

In [28]:
clf_rbf.score(X_test, y_test)

0.67

In [31]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernel='rbf', C=1, random_state=42)
scores = cross_val_score(clf, X, y, cv=5)
scores

array([0.57      , 0.79833333, 0.55111111, 0.52333333, 0.50805556])

In [30]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.59 accuracy with a standard deviation of 0.11

#### Original data viz

In [ ]:
import plotly.express as px

fig = px.scatter_3d(final_df, x='N_X', y='N_Y', z='N_Z',
              color='label', size_max=0.002, opacity=0.5,symbol='label')

# tight layout
#
# fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig.update_layout(title="3D-Scatter Plot WITH ALL CLASSES for Classification")

fig.show()

In [ ]:
import plotly.express as px

fig_org = px.scatter_3d(final_df, x='X', y='Y', z='Z',
              color='label', size_max=0.002, opacity=0.5,symbol='label')

# tight layout
#
# fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig_org.update_layout(title="3D-Scatter Plot WITH ALL CLASSES for Classification with ACTUAL values of X, Y, Z")

fig_org.show()

In [ ]:
#without wall

df_wo_wall = final_df[final_df['label'] != 'wall']

In [ ]:
import plotly.express as px

fig_wo = px.scatter_3d(df_wo_wall, x='N_X', y='N_Y', z='N_Z',
              color='label', size_max=0.002, opacity=0.5,symbol='label')

# tight layout
#fig_wo.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig_wo.update_layout(title="3D-Scatter Plot with all classes except WALL for Classification")
fig_wo.show()

#### Random Forest

In [ ]:
import pandas as pd
import numpy as np

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

In [ ]:
final_df_west_5.head(2)

In [ ]:
X_test_ = final_df_west_5[['X','Y','Z','N_X','N_Y','N_Z']]
y_test_ = final_df_west_5['cat_label']

In [ ]:
y_pred_= rf.predict(X_test_)
y_pred_

In [ ]:
len(y_test_)

In [ ]:
accuracy = accuracy_score(y_test_, y_pred_)
print("Accuracy:", accuracy)
print('Hello')

In [ ]:
param_dist = {'n_estimators': randint(50,500),
              'max_depth': randint(1,20)}

# Create a random forest classifier
rf = RandomForestClassifier()

# Use random search to find the best hyperparameters
rand_search = RandomizedSearchCV(rf, 
                                 param_distributions = param_dist, 
                                 n_iter=5, 
                                 cv=5)

# Fit the random search object to the data
rand_search.fit(X_train, y_train)

In [ ]:
# Create a variable for the best model
best_rf = rand_search.best_estimator_

# Print the best hyperparameters
print('Best hyperparameters:',  rand_search.best_params_)

In [ ]:
y_pred_ = best_rf.predict(X_test_)

In [ ]:
# Create the confusion matrix
cm = confusion_matrix(y_test_, y_pred_)

ConfusionMatrixDisplay(confusion_matrix=cm).plot();  # 'ceiling':0,'floor':1,'stairs':2,'wall':3

In [ ]:
y_pred_ = best_rf.predict(X_test_)

accuracy = accuracy_score(y_test_, y_pred_)
print('Accuracy:  {:0.4f}'.format(accuracy))

In [ ]:
from sklearn.metrics import f1_score, precision_score, recall_score

f1 = f1_score(y_test_, y_pred_, average='micro')
precision = precision_score(y_test_, y_pred_, average='micro')
recall = recall_score(y_test_, y_pred_, average='macro')

print('F1_score:  {:0.4f}'.format(f1))
print('Precision_score:  {:0.4f}'.format(precision))
print('Recall_score:  {:0.4f}'.format(recall))

In [ ]:
import plotly.express as px

fig_w5 = px.scatter_3d(final_df_west_5, x='X', y='Y', z='Z',
              color='label', size_max=0.002, opacity=0.5,symbol='label')

# tight layout
#fig_wo.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig_w5.update_layout(title="3D-Scatter Plot -WEST- 5 datset")
fig_w5.show()

In [ ]:
# PLot only floor

final_df_west_5_floor = final_df_west_5[(final_df_west_5['label']=='floor') | (final_df_west_5['label']=='ceiling')]
import plotly.express as px

fig_w5_floor = px.scatter_3d(final_df_west_5_floor, x='X', y='Y', z='Z',
              color='label', size_max=0.002, opacity=0.5,symbol='label')

# tight layout
#fig_wo.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig_w5_floor.update_layout(title="3D-Scatter Plot -WEST- 5 Only Floor and Stairs datset")
fig_w5_floor.show()

In [ ]:
def compare(df_):
    a = df_['ground_truth_label']
    b = df_['prediction_label']
    
    if a !=b:
        return 'not_match'
    else:
        return 'match'

In [ ]:
final_df_west_5['prediction_label'] = y_pred_

In [ ]:
final_df_west_5['ground_truth_label'] = final_df_west_5['cat_label'].map({0:'ceiling', 1:'floor',2:'stairs', 3:'wall'})
final_df_west_5['prediction_label'] = final_df_west_5['prediction_label'].map({0:'ceiling', 1:'floor',2:'stairs', 3:'wall'})

In [ ]:
final_df_west_5['comparison'] = final_df_west_5[['ground_truth_label','prediction_label']].apply(compare, axis=1)

final_df_west_5.to_csv('predictions_python.csv')

!pwd

In [ ]:
final_df_west_5.tail(2)

In [ ]:
fig_gt = px.scatter_3d(final_df_west_5, x='X', y='Y', z='Z',
              color='ground_truth_label', size_max=0.0000010, opacity=0.4,symbol='comparison',
                   title = 'Ground Truth -$$$')

# tight layout
#fig.update_layout(margin=dict(l=0, r=0, b=0, t=0))
fig_gt.update_layout(title="3D-Scatter Plot Ground Truth vs Predicted Output")

fig_gt.show()

In [ ]:
from IPython.display import display
from PIL import Image


path="/Users/qwert/Documents/TASKAR/west_5_.jpg"
display(Image.open(path))